.details-title{
    width: 300px;
    position: relative;
    bottom: -30px;
    background: #f6f6f6;
    z-index: 1000;
    text-align: center;
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 16px;
}
input{
    border: none !important;
    background: #f6f6f6 !important;
    border-bottom:2px solid black !important;
    border-radius: 0px;
}
input:focus{
    box-shadow: none;
    border-bottom:2px solid black !important;
}
.submit-btn{
    color: #fff;
    font-size: 16px;
    background: black;
    width: 300px;
    height: 60px;
    border-radius: 2px;
}
.submit-btn:hover{
    opacity: 0.8;
}
form{
    margin: auto 100px;
}
.error-msg{
height: 20px;
font-size: 14px;
}
