
<div *ngIf="isEmpty; else contentBlock" class="container px-5  justify-content-center">
    <h3 class="text-center">Your WishList is currently Empty !</h3>
</div>
<ng-template #contentBlock>
    <div class="container px-5  justify-content-center">
        <h3 class="text-center">Your WishList !</h3>
        <table class="table">
            <tbody>
                <tr *ngFor = "let p of wishList">
                    <td><img src="{{p.image}}"  alt="product image" width="100px" height="100px"></td>
                    <td>{{p.productName}}</td>
                    <td>{{p.productPrice}} Tnd</td>
                </tr>
            </tbody>
        </table>
    </div>
</ng-template>
