@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');
.container{
    margin: 50px auto;
 }
.add-to-cart-btn{
    border-radius: 2px;
}
.product-title{
    font-family: 'PT Sans Caption', sans-serif;
}
.product-price{
    font-family: 'Quicksand', sans-serif;
}
.product-description{
    margin: 7vh auto;
}
.size-selection{
    background: #f8f4ec;
    border-style: none;
    border-bottom: 2px solid black;
    border-radius: 1px;
    width: 100px;
}
option{
    text-align: right;
}
.btn-group{
    box-shadow: none;
}
.btn-group .btn{
    width: 40%;
    border-radius: 1px;
    background: black;
    color: #fff;
    height: 50px;
}
.alert{
    display: none;
}
.cart-alert{
    display: block;
    position: fixed;
    padding: 10px 30px;
    top: 30px;
    right: 20px;
    /*background: rgba(233, 150, 122, 0.412) !important;*/
    background: #b7a5a556 !important;
    border-radius: 5px;
    color: rgb(110, 106, 102);
    transform: translateY(50px);
    transition: all 1s;
    z-index: 1000;
}
.wishList-alert{
    display: block;
    position: fixed;
    padding: 10px 30px;
    top: 30px;
    right: 20px;
    /*background: rgba(233, 150, 122, 0.412) !important;*/
    background: #b7a5a556 !important;
    border-radius: 5px;
    color: rgb(110, 106, 102);
    transform: translateY(50px);
    transition: all 1s;
    z-index: 1000;
}


