<footer class="footer">
    <div class=" middle-container mx-auto">
        <img class="logo" src="../../../assets/Images/logo.PNG">
        <div class="d-flex justify-content-between">
            <i class="fa fa-facebook-square" aria-hidden="true"></i>
            <i class="fa fa-instagram" aria-hidden="true"></i>
            <i class="fa fa-pinterest" aria-hidden="true"></i>
        </div>
    </div>
    <div  class="container-fluid">
        <div class="row text-center">
            <div class="col-6" style="border-right:1px solid black;">
                <div class="px-5">
                    <h5 class="py-3 footer-title">About</h5>
                <p class="footer-parag">At Valency, our major concern is seeking to be part of the ethical brands promoting eco-responsible fashion in Europe.</p>
                </div>
            </div>
            <div id="target" class="col-6">
                <div class="px-5">
                    <h5 class="py-3 footer-title">Contact</h5>
                    <p class="footer-parag"><strong>Phone</strong> : +33 54 52 62</p>
                    <p class="footer-parag"><strong>Email :</strong> shop@valency.com</p>
                    <p class="footer-parag"><strong>Address :</strong> 75 Varick St 75 STE 200, New York</p>
                </div>
            </div>
        </div>
    </div>
</footer>