@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');
.container{
   margin: 50px auto;
}
.card{
    margin: 10px;
    outline-style: none;
    border-color:#efe8e8;
    border-radius:3px;
    border-style:none;
}
.card-img-top{
    border-radius: 1px;
}
.card-title{
    max-width: 80%;
    font-family: 'PT Sans Caption', sans-serif;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 5px;
}
.card-text{
    color: rgb(154, 151, 148);
}
.card-body{
    padding: 10px;
}
.heart-icon{
    color :#f59582;
  /*color :#d57764;*/
}
.heart-icon:hover{
    transform: scale(1.3);
    transition: all .5s;
}

